* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    height: 80px;
    background-color: lightblue;
    color: white;
    text-align: center;
}

h1 {
    padding: 20px;
}

.container {
    width: 100%;
    padding: 0;
    display: table;
    clear: both;
}

.column-1 {
    float: left;
    width: 30%;
    background-color: whitesmoke;
    padding: 20px;
    margin-left: 20px;
    height: 680px;
}

.column-2 {
    float: left;
    width: 65%;
    margin-top: 10px;
    margin-left: 10px;
   /* border: 1px solid lightblue;*/
   text-align: center;
}
  
 

.search {
    padding: 20px;
}

.search input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
  /* Style the submit button */
.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(173, 216, 230);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
.search button:hover {
    background: #0b7dda;
}
  
  /* Clear floats */
.search::after {
    content: '';
    clear: both;
    display: table;
}

.clear-search {
    background-color: lightblue;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 30%;
    height: 40px;
    border-radius: 10px;
}

.clear button:hover {
    color: white;
}

p {
    margin: 20px;
    font-size: 16px;
    font-family: fantasy;
}

.footer {
    background-color: lightblue;
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: 16px;
    padding: 10px;
    position: sticky;
}

#uv-index {
    width: 14%;
    padding: 10px;
    margin-left: 43%;
}

h2 {
    margin-left: 40px;
}

.five-forecast {
    text-align: center;
    color: rgb(106, 160, 182);
    font-size: 16px;
    margin: 20px;
    width: 80%;
    float: left;
    margin-left: 130px;
}

.Day {
    float: left;;
    border: 1px solid white;
}
#date1, #date2, #date3, #date4, #date5 {
    background-color: white;
}
