* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 815px;
}

.header {
    height: 80px;
    background-image: url('images/weather-icons.jpg');
    color: lightblue;
    text-align: center;
}

h1 {
    padding: 20px;
}

.container {
    width: 100%;
    padding: 0;
    display: table;
    clear: both;
}

.column-1 {
    float: left;
    width: 30%;
    background-color: whitesmoke;
    padding: 20px;
    margin-left: 20px;
    height: 815px;
}

.column-2 {
    float: left;
    width: 65%;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

#city-name {
    color: lightblue;
}

.search {
    padding: 20px;
    
}

.search input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
  /* Style the submit button */
.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(173, 216, 230);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
.search button:hover {
    background: #0b7dda;
}
  
  /* Clear floats */
.search::after {
    content: '';
    clear: both;
    display: table;
}

.clear button:hover {
    color: white;
}

.clearBtn {
    font-family: fantasy;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    background-color: lightblue;
    padding: 10px;
    margin: 20px;
}

p {
    margin: 20px;
    font-size: 16px;
    font-family: fantasy;
}

.footer {
    background-color: lightblue;
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: 16px;
    padding: 35px;
    position: sticky;
}

#uv-index {
    width: 14%;
    padding: 10px;
    margin-left: 43%;
}

h2 {
    margin-left: 40px;
    color: lightblue;
}

.five-forecast {
    text-align: center;
    margin: 20px;
    width: 100%;
    float: left;
    margin-left: 21%;
}

.Day {
    float: left;;
}

.searchedCities{
    width:100%;
    list-style: none;
    display:block;
    font-size: 20px;
    background-color: white;
    color: lightblue;
}

.list-group-item {
    border: 1px solid grey;
}
